# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

# ENTRADA: TABLE/    SALIDA: test.php?table=TABLE
RewriteRule ^(\w+)/?$   RestController.php?table=$1 [nc,qsa]
RewriteRule ^(\w+)/?col=(\w+)$   RestController.php?table=$1&col=$2 [nc,qsa]
